@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: barlow;
  src: url("/fonts/barlow/BarlowSemiCondensed-SemiBold.ttf");
}
@font-face {
  font-family: barlow1;
  src: url("/fonts/barlow/BarlowSemiCondensed-Bold.ttf");
}
.reflect{
  box-shadow: inset 0.1em 0.25em lightgray;
}
.red-reflect{
  box-shadow: inset 0.01em -0.3em #AD1F39;
}
.blue-reflect{
  box-shadow: inset 0.01em -0.3em #0E33EC ;
}
.yellow-reflect{
  box-shadow: inset 0.01em -0.3em #C1810B;
}
.button-reflect{
  box-shadow: inset 0.01em -0.3em #22232A;
}
.cyan-reflect{
  box-shadow: inset 0.01em -0.3em #338A99;
}
.purple-reflect{
  box-shadow: inset 0.01em -0.3em #553295;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.slide-in{
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}


@keyframes test {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 50px 1px #ffffff;
  }
}
.shadow-1 {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,test 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,test 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}
.shadow-2{
  -webkit-animation: test 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	animation: test 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
